<!-- Always shows a header, even in smaller screens. -->
<header class="mdl-layout__header" *ngIf="isVisible()">
    <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Angular 2 learning</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation. We hide it in small screens. -->
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" routerLink="/users">Users</a>
            <a class="mdl-navigation__link" routerLink="/users/offers">Offers</a>
            <a class="mdl-navigation__link" routerLink="/users/associations">Associations</a>
            <a class="mdl-navigation__link" routerLink="/login">Logout</a>
        </nav>
    </div>
</header>


